<div class="main_">

        <div class="title">
                <p>Масштаби</p>
                <div class="button__add">
                        <button mat-button (click)="createNewScaleDialogOpen()">
                                Додати
                        </button>
                </div>
        </div>

        <div class="scales">

                <div class="scale" *ngFor="let scale of scalesResponse?.data">
                        <div class="scale__title" (click)="ScaleNavigate(scale.uid)">
                                <p> {{scale.title}}</p>
                        </div>
                        <div class="scale__actions">
                                <button>
                                        <i class="material-icons">
                                                edit
                                                </i>
                                </button>
                                <button>
                                        <i class="material-icons">
                                                delete
                                                </i>
                                </button>
                        </div>
                </div>
        </div>