

<div class="main_">
    <div class="left_side">
        <p class="title">judje queue</p>
        <div class="judjes_queue">
            <p> judje full name 1</p>
            <p> judje full name 2</p>
            <p> judje full name 3</p>
            <p> judje full name 4</p>
            <p> judje full name 5</p>
            <p> judje full name 6</p>
            <p> judje full name 7</p>
            <p> judje full name 9</p>            
            <p> judje full name 10</p>
            <p> judje full name 11</p>
            <p> judje full name 12</p>
            <p> judje full name 13</p>
            <p> judje full name 14</p>
            <p> judje full name 15</p>
            <p> judje full name 16</p>
            <p> judje full name 17</p>
            <p> judje full name 19</p>            
            <p> judje full name 20</p>
        </div>
    </div>
    <div class="right_side">
        <p class="title">matches</p>
        <div class="matches_queue">

        </div>
    </div>
</div>